---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/juan.jpg"
			alt="Foto de perfil de Juan Santil"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				I am a frontend developer with over 2 years of experience working remotely, with a passion for creating captivating and accessible user experiences for everyone.  I enjoy collaborating with others and contributing to open source projects. But I'm also fascinated by the latest design and tech trends, and I like to create impactful visuals to bring websites to life. Outside of programming, I enjoy sports and movies. Let's connect, chat and create a community where we can work and learn together!
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
