---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="juansantil">
	<div class="terminal__skills">
		<h2>Mis Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/public/img/html.png"
				color="#FF4747"
				name="HTML5"
			/>
			<TerminalIcon 
				src="/public/img/css.png" 
				color="#00A3FF" 
				name="CSS" 
			/>
			<TerminalIcon
				src="/public/img/bootstrap.png"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/public/img/tailwind.png"
				color="#44a8b3"
				name="Tailwind"
			/>
			<TerminalIcon
			src="/public/img/sass.png"
			color="#cd6799"
			name="sass"
			/>
			<TerminalIcon
				src="/public/img/javascript.png"
				color="#f7df1e"
				name="JavaScript"
			/>
			<TerminalIcon
				src="/public/img/react.png"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon
				src="/public/img/nextjs.png"
				color="#00D1FF"
				name="NextJS"
			/>
			<TerminalIcon
			src="/public/img/nodejs.png"
			color="#8CC84B"
			name="NodeJS"
			/>
			<TerminalIcon
				src="/public/img/php.png"
				color="#8892BF"
				name="PHP"
			/>
			<TerminalIcon
				src="/public/img/shopify.png"
				color="#81BF37"
				name="Liquid"
			/>

		</div>
	</div>
</Terminal>
