---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/html.svg"
				color="#FF4747"
				name="HTML5"
			/>
			<TerminalIcon 
				src="/assets/css.svg" 
				color="#00A3FF" 
				name="CSS" 
			/>
			<TerminalIcon
				src="/assets/bootstrap.svg"
				color="#7738ff"
				name="Bootstrap"
			/>
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#7738ff"
				name="Tailwind"
			/>
			<TerminalIcon
			src="/assets/sass.svg"
			color="#7738ff"
			name="sass"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#f7df1e"
				name="JavaScript"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon
				src="/assets/next.svg"
				color="#00D1FF"
				name="NextJS"
			/>
			<TerminalIcon
			src="/assets/nodejs.svg"
			color="#00D1FF"
			name="NodeJS"
			/>
			<TerminalIcon
				src="/assets/php.svg"
				color="#8892BF"
				name="PHP"
			/>
			<TerminalIcon
				src="/assets/shopify.svg"
				color="#81BF37"
				name="Liquid"
			/>

		</div>
	</div>
</Terminal>
